// Resets the JavaScript dependent CSS for the sidebar on anything larger than
// the mobile layout.
@include at-media-query($breakpoint-mobile-up) {
  // The first sidebar is active.
  .sidebar-first {
    .sidebar-first {
      @include span-columns(6);
    }

    .main-content {
      @include span-columns(18 omega);
    }
  }

  // The second sidebar is active.
  .sidebar-second {
    .sidebar-second-container {
      @include span-columns(6 omega);
    }

    .main-content {
      @include span-columns(18);
    }
  }

  // Both sidebars are active.
  .sidebar-first.sidebar-second {
    .main-content {
      @include span-columns(12);
      @include prefix(6);
    }

    .sidebar-first-container {
      @include pull(18);
    }
  }
}

// Adds the rather simple regions for non-mobile media queries.
@include at-media-query($breakpoint-mobile-up) {
  .region-postscript, .region-preface, .region-footer {
    .block {
      @include block-columns(4);
    }
  }

  // The postscript and preface regions need to react to sidebar visibility.
  .sidebar-first, .sidebar-second {
    .region-postscript, .region-preface {
      .block {
        @include reset-block-columns;
        @include block-columns(3);
      }
    }
  }

  .sidebar-first.sidebar-second {
    .region-postscript, .region-preface {
      .block {
        @include reset-block-columns;
        @include block-columns(2);
      }
    }
  }
}

// Mobile sidebar.
@include at-media-query($breakpoint-mobile-down) {
  html.js .sidebar-first {
    .main {
      padding-left: $grid-padding + $sidebar-collapsed-width;
    }

    .sidebar-first-container {
      @include single-transition(left, .4s, ease-in-out);
      background-color: #888;
      float: left;
      width: 100%;
      cursor: pointer;
      position: absolute;
      left: -100%;
      top: 0;
      border-right: $sidebar-collapsed-width solid #444;
      z-index: 100;
      height: 100%;

      .block {
        @include single-transition(opacity, .4s, linear);
        @include opacity(0);
      }
    }

    .sidebar-first-toggle {
      background-color: #444;
      width: $sidebar-toggle-width;
      height: $sidebar-toggle-height;
      display: block;
      position: relative;
      right: -($sidebar-toggle-width + $sidebar-collapsed-width);
      float: right;
    }

    &.show-sidebar {
      .main {
        @include clear-container;
        padding-right: $sidebar-visible-gutter;
        cursor: pointer;

        & > *:not(.sidebar-first-container) {
          display: none;
        }
      }

      .sidebar-first-container {
        @include box-sizing(border-box);
        padding-left: $grid-padding;
        padding-right: $grid-padding;
        cursor: default;
        position: relative;
        left: 0;
        height: auto;

        .block {
          @include opacity(1);
        }
      }

      .sidebar-first-toggle {
        right: -($sidebar-toggle-width + $sidebar-collapsed-width + $grid-padding);
      }
    }
  }

  // Fix for hiding the CSS3 transition that appears after loading the page due
  // to the JavaScript delay.
  .sidebar-first-container {
    left: -100%;
  }
}