/* Fonts */
div.tabs {
  padding: 0;
  border: 1px solid white;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }
  @media all and (min-width: 768px) {
    div.tabs {
      display: inline-block; } }
  div.tabs h2 {
    margin: 0;
    padding: 0; }
  div.tabs ul.tabs {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 14px;
    font-variant: small-caps;
    *zoom: 1; }
    div.tabs ul.tabs:before, div.tabs ul.tabs:after {
      content: "";
      display: table; }
    div.tabs ul.tabs:after {
      clear: both; }
    @media all and (min-width: 768px) {
      div.tabs ul.tabs {
        display: block;
        float: left; } }
    div.tabs ul.tabs li {
      margin: 0;
      padding: 0;
      border: 0;
      display: block;
      float: left;
      margin-right: 5px; }
      div.tabs ul.tabs li a {
        padding: 0;
        margin: 0;
        background: none;
        border: 0;
        display: block; }
      div.tabs ul.tabs li.active a {
        background: none;
        border: none; }
  div.tabs ul.primary li a,
  div.tabs ul.secondary li a {
    background: #e1e1e1;
    color: #4a4a4a;
    border: 1px solid #c1c1c1;
    padding: 4px 8px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2); }
    div.tabs ul.primary li a:hover,
    div.tabs ul.secondary li a:hover {
      background: #d4d4d4;
      color: #3d3d3d;
      border-color: #b4b4b4; }
    div.tabs ul.primary li a.active,
    div.tabs ul.secondary li a.active {
      background: #008aba;
      border: 1px solid #008aba;
      color: white;
      font-weight: bold; }
  div.tabs ul.primary li:last-child,
  div.tabs ul.secondary li:last-child {
    margin-right: 0; }
  div.tabs ul.primary {
    background: #e1e1e1;
    padding: 5px;
    padding-left: 7px;
    padding-right: 7px; }
  div.tabs ul.secondary {
    font-size: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
    padding-right: 7px;
    border-top: 1px solid white; }
    @media all and (min-width: 768px) {
      div.tabs ul.secondary {
        border-top: 0; } }
    @media all and (min-width: 768px) {
      div.tabs ul.secondary {
        padding-left: 14px;
        padding-right: 14px; } }
  div.tabs.with--secondary {
    background: #008aba; }
    div.tabs.with--secondary ul.primary {
      -webkit-border-radius: 4px 4px 0 0;
      -moz-border-radius: 4px 4px 0 0;
      border-radius: 4px 4px 0 0; }
      @media all and (min-width: 768px) {
        div.tabs.with--secondary ul.primary {
          -webkit-border-radius: 0px;
          -moz-border-radius: 0px;
          border-radius: 0px;
          -webkit-border-radius: 4px 0 0 4px;
          -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
          border-right: 1px solid white; } }
  div.tabs.without--secondary ul.primary {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px; }
