/*
  Mixins are slightly modified from Benjamin Doherty's first implementations: http://gist.github.com/377912
  rgba-background mixin can now be passed an option $dir variable
*/
/**
 * Hide elements visually, but keep them available for screen-readers.
 *
 * Used for information required for screen-reader users to understand and use
 * the site where visual display is undesirable. Information provided in this
 * manner should be kept concise, to avoid unnecessary burden on the user.
 * "!important" is used to prevent unintentional overrides.
 *
 * The .element-focusable class extends the .element-invisible class to allow
 * the element to be focusable when navigated to via the keyboard.
 */
/* line 1, ../sass/partials/layout/_base.scss */
body {
  margin: 0;
}

/* line 6, ../sass/partials/layout/_base.scss */
.page {
  min-width: 320px;
  overflow: hidden;
}

/* line 13, ../sass/partials/layout/_base.scss */
.main {
  position: relative;
  overflow: hidden;
}

/* line 19, ../sass/partials/layout/_base.scss */
.main-content {
  min-height: 1px;
}

/* line 25, ../sass/partials/layout/_base.scss */
.main, .topbar, .region-navigation, .region-footer, .region-search, .region-banner {
  *zoom: 1;
  max-width: 100%;
  _width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  /* IE6 */
  /* IE7 */
  max-width: 1200px;
}
/* line 38, ../../../../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.main:after, .topbar:after, .region-navigation:after, .region-footer:after, .region-search:after, .region-banner:after {
  content: "";
  display: table;
  clear: both;
}
/* line 2, ../../../sass/omega/utility/_clearfix.scss */
.main:after, .topbar:after, .region-navigation:after, .region-footer:after, .region-search:after, .region-banner:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* line 11, ../../../sass/omega/utility/_clearfix.scss */
* html .main, * html .topbar, * html .region-navigation, * html .region-footer, * html .region-search, * html .region-banner {
  height: 1%;
}
/* line 16, ../../../sass/omega/utility/_clearfix.scss */
*:first-child + html .main, *:first-child + html .topbar, *:first-child + html .region-navigation, *:first-child + html .region-footer, *:first-child + html .region-search, *:first-child + html .region-banner {
  min-height: 1%;
}

@media all and (min-width: 800px) {
  /* line 6, ../sass/partials/layout/_main.scss */
  .sidebar-first .sidebar-first {
    width: 23.875%;
    float: left;
    margin-right: 1.5%;
    display: inline;
  }
  /* line 10, ../sass/partials/layout/_main.scss */
  .sidebar-first .main-content {
    width: 74.625%;
    float: right;
    margin-right: 0;
    #margin-left: -1.5%;
    display: inline;
  }

  /* line 17, ../sass/partials/layout/_main.scss */
  .sidebar-second .sidebar-second-container {
    width: 23.875%;
    float: right;
    margin-right: 0;
    #margin-left: -1.5%;
    display: inline;
  }
  /* line 21, ../sass/partials/layout/_main.scss */
  .sidebar-second .main-content {
    width: 74.625%;
    float: left;
    margin-right: 1.5%;
    display: inline;
  }

  /* line 28, ../sass/partials/layout/_main.scss */
  .sidebar-first.sidebar-second .main-content {
    width: 49.25%;
    float: left;
    margin-right: 1.5%;
    display: inline;
    padding-left: 25.375%;
  }
  /* line 33, ../sass/partials/layout/_main.scss */
  .sidebar-first.sidebar-second .sidebar-first-container {
    margin-left: -76.125%;
  }
}
@media all and (min-width: 800px) {
  /* line 42, ../sass/partials/layout/_main.scss */
  .region-postscript .block, .region-preface .block, .region-footer .block {
    width: 23.875%;
    float: left;
    margin-right: 1.5%;
    display: inline;
  }
  /* line 20, ../../../sass/omega/utility/_grid.scss */
  .region-postscript .block:nth-child(4n), .region-preface .block:nth-child(4n), .region-footer .block:nth-child(4n) {
    float: right;
    margin-right: 0;
    #margin-left: -1.5%;
    display: inline;
  }
  /* line 25, ../../../sass/omega/utility/_grid.scss */
  .region-postscript .block:nth-child(4n+5), .region-preface .block:nth-child(4n+5), .region-footer .block:nth-child(4n+5) {
    clear: both;
  }

  /* line 50, ../sass/partials/layout/_main.scss */
  .sidebar-first .region-postscript .block, .sidebar-first .region-preface .block, .sidebar-second .region-postscript .block, .sidebar-second .region-preface .block {
    float: none;
    width: auto;
    margin-right: auto;
    #margin-left: auto;
    display: block;
    width: 32.33333%;
    float: left;
    margin-right: 1.5%;
    display: inline;
  }
  /* line 34, ../../../sass/omega/utility/_grid.scss */
  .sidebar-first .region-postscript .block:nth-child(1n), .sidebar-first .region-preface .block:nth-child(1n), .sidebar-second .region-postscript .block:nth-child(1n), .sidebar-second .region-preface .block:nth-child(1n) {
    float: left;
    margin-right: 1.5%;
    #margin-left: 0;
  }
  /* line 39, ../../../sass/omega/utility/_grid.scss */
  .sidebar-first .region-postscript .block:nth-child(1n), .sidebar-first .region-preface .block:nth-child(1n), .sidebar-second .region-postscript .block:nth-child(1n), .sidebar-second .region-preface .block:nth-child(1n) {
    clear: none;
  }
  /* line 20, ../../../sass/omega/utility/_grid.scss */
  .sidebar-first .region-postscript .block:nth-child(3n), .sidebar-first .region-preface .block:nth-child(3n), .sidebar-second .region-postscript .block:nth-child(3n), .sidebar-second .region-preface .block:nth-child(3n) {
    float: right;
    margin-right: 0;
    #margin-left: -1.5%;
    display: inline;
  }
  /* line 25, ../../../sass/omega/utility/_grid.scss */
  .sidebar-first .region-postscript .block:nth-child(3n+4), .sidebar-first .region-preface .block:nth-child(3n+4), .sidebar-second .region-postscript .block:nth-child(3n+4), .sidebar-second .region-preface .block:nth-child(3n+4) {
    clear: both;
  }

  /* line 59, ../sass/partials/layout/_main.scss */
  .sidebar-first.sidebar-second .region-postscript .block, .sidebar-first.sidebar-second .region-preface .block {
    float: none;
    width: auto;
    margin-right: auto;
    #margin-left: auto;
    display: block;
    width: 49.25%;
    float: left;
    margin-right: 1.5%;
    display: inline;
  }
  /* line 34, ../../../sass/omega/utility/_grid.scss */
  .sidebar-first.sidebar-second .region-postscript .block:nth-child(1n), .sidebar-first.sidebar-second .region-preface .block:nth-child(1n) {
    float: left;
    margin-right: 1.5%;
    #margin-left: 0;
  }
  /* line 39, ../../../sass/omega/utility/_grid.scss */
  .sidebar-first.sidebar-second .region-postscript .block:nth-child(1n), .sidebar-first.sidebar-second .region-preface .block:nth-child(1n) {
    clear: none;
  }
  /* line 20, ../../../sass/omega/utility/_grid.scss */
  .sidebar-first.sidebar-second .region-postscript .block:nth-child(2n), .sidebar-first.sidebar-second .region-preface .block:nth-child(2n) {
    float: right;
    margin-right: 0;
    #margin-left: -1.5%;
    display: inline;
  }
  /* line 25, ../../../sass/omega/utility/_grid.scss */
  .sidebar-first.sidebar-second .region-postscript .block:nth-child(2n+3), .sidebar-first.sidebar-second .region-preface .block:nth-child(2n+3) {
    clear: both;
  }
}
@media all and (max-width: 800px) {
  /* line 70, ../sass/partials/layout/_main.scss */
  html.js .sidebar-first .main {
    padding-left: 20px;
  }
  /* line 74, ../sass/partials/layout/_main.scss */
  html.js .sidebar-first .sidebar-first-container {
    -webkit-transition: left 0.4s ease-in-out;
    -moz-transition: left 0.4s ease-in-out;
    -o-transition: left 0.4s ease-in-out;
    transition: left 0.4s ease-in-out;
    background-color: #888;
    float: left;
    width: 100%;
    cursor: pointer;
    position: absolute;
    left: -100%;
    top: 0;
    border-right: 10px solid #444444;
    z-index: 100;
    height: 100%;
  }
  /* line 87, ../sass/partials/layout/_main.scss */
  html.js .sidebar-first .sidebar-first-container .block {
    -webkit-transition: opacity 0.4s linear;
    -moz-transition: opacity 0.4s linear;
    -o-transition: opacity 0.4s linear;
    transition: opacity 0.4s linear;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  /* line 93, ../sass/partials/layout/_main.scss */
  html.js .sidebar-first .sidebar-first-toggle {
    background-color: #444;
    width: 30px;
    height: 40px;
    display: block;
    position: relative;
    right: -40px;
    float: right;
  }
  /* line 104, ../sass/partials/layout/_main.scss */
  html.js .sidebar-first.show-sidebar .main {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    _width: auto;
    max-width: none;
    padding-right: 40px;
    cursor: pointer;
  }
  /* line 109, ../sass/partials/layout/_main.scss */
  html.js .sidebar-first.show-sidebar .main > *:not(.sidebar-first-container) {
    display: none;
  }
  /* line 114, ../sass/partials/layout/_main.scss */
  html.js .sidebar-first.show-sidebar .sidebar-first-container {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    cursor: default;
    position: relative;
    left: 0;
    height: auto;
  }
  /* line 123, ../sass/partials/layout/_main.scss */
  html.js .sidebar-first.show-sidebar .sidebar-first-container .block {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }
  /* line 128, ../sass/partials/layout/_main.scss */
  html.js .sidebar-first.show-sidebar .sidebar-first-toggle {
    right: -50px;
  }

  /* line 136, ../sass/partials/layout/_main.scss */
  .sidebar-first-container {
    left: -100%;
  }
}
